<Configuration status="info" name="Test" packages="">
    <Appenders>
        <Console name="stdout"  target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
            <Logger name = "by.bogdanov.Final_Pr" level="debug" additivity="false" >
                    <AppenderRef ref="stdout"/>
            </Logger>
    <Root level="all">
        <AppenderRef ref="stdout" />
    </Root>
    </Loggers>>
</Configuration>